PROJECT="project"
REPOSITORY="git@github.com:darwinapps/project.git"
BUCKET="darwinapps-project.web"
AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID="XXXXXXXXXXXXXXXXXXXXXX"
AWS_SECRET_ACCESS_KEY="XXXXXXXXXXXXXXXXXXXXXX"

MYSQL_IMAGE="mysql:5.6"
MYSQL_PORT_MAP="'3306:3306'"
APP_DOCKERFILE="Dockerfile.app"
APP_ROOT="" # for ./src/ being the  root
APP_PORT_MAP="'80:80'"

MYSQL_USER=wordpress
MYSQL_PASSWORD=123
MYSQL_DATABASE=wordpress
