### If you need to apply additional parameters for the deploy.sh script to work,
### then rename this file to config.global and uncomment the necessary lines

# Disables script self-updating deploy.sh
# UPDATE="off"

# It is necessary for the correct operation of the docker container over HTTPS protocol under VPN
# MTU_NETWORK=1420

# Sets the mapping of local ports with to a port inside the MySQL docker container
# MYSQL_PORT_MAP=3316:3306

# To enable phpMyAdmin
# PHPMYADMIN_IMAGE="phpmyadmin:latest"

# Sets the mapping of local ports with to a port inside the phpMyAdmin docker container
# PHPMYADMIN_PORT_MAP=8080:80
